.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* p {
  margin: 0;
}

.my-posts-add-btn {
  border: 2.5px solid black;
  height: 4rem;
  width: 83%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 1rem 0 1rem 0;
  border-radius: 20px;
}

.my-posts-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.my-posts-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  border-left: 2.5px solid black;
}
