@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@font-face {
  font-family: 'Candu';
  src: local('Candu'), url('./fonts/Candu/CanduRegular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-black: #0f0f0f;
  --color-white: #f7f7f7;
  --color-grey: #5b5b5a;
  --color-purple: #d8c4f7;
  --color-blue: #6db7fb;
  --color-red: #d80505;
  --color-darkpurple: #7c44a0;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* p {
  color: var(--color-black);
  margin: 0;
}

body {
  margin: 0;
  /* height: 100%; */
  height: 100vh;
  background: rgb(252, 251, 250);
  background: linear-gradient(
    0deg,
    rgba(252, 251, 250, 1) 24%,
    rgba(211, 205, 241, 1) 96%
  );
  background-repeat: no-repeat;
}

/* Remove scrollbar */
::-webkit-scrollbar {
  display: none;
}

.error-container {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.error-container p {
  font-weight: bold;
  color: var(--color-red);
}

.btn-animated {
  color: var(--color-black);
  cursor: pointer;
}

.btn-animated:hover {
  color: var(--color-darkpurple);
}

.btn-animated p:hover {
  color: var(--color-darkpurple);
}

.btn-animated:active {
  transform: translateY(2px);
}
