.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  color: var(--color-black);
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-bottom: 4px solid var(--color-black);
  margin: 1rem;
  margin-bottom: 3.5rem;
  width: 83%;
  min-height: 5rem;
  font-family: 'candu';
  letter-spacing: 2px;
}

.title p {
  padding-top: 0.6rem;
  margin: 1.1rem;
  color: var(--color-black);
}

.form-conteiner {
  border: 2px solid var(--color-black);
  border-radius: 30px;
  min-width: 40rem;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.form-title {
  border-bottom: 2px solid var(--color-black);
  width: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.form-title p {
  margin: 0rem;
  margin-top: 0.5rem;
}
.form-body {
  width: 100%;
  height: 100%;
}
.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-inputs input {
  outline: none;
  font-size: 2.5rem;
  border: none;
  border-bottom: 3px solid var(--color-black);
  margin-bottom: 1rem;
  background: transparent;
  padding: 0.5rem 0;
  caret-color: var(--color-purple);
  color: var(--color-black);
}
.form-inputs input::placeholder {
  font-size: 1.5rem;
  color: var(--color-grey);
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn input {
  background-color: var(--color-purple);
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem 9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-black);
}

.form-btn input:hover {
  color: var(--color-white);
}

.form-btn input:active {
  transform: translateY(2px);
}

.form-footer {
  border-top: 2px solid var(--color-black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  font-size: 1.75rem;
}

.signup-link {
  padding-left: 0.5rem;
  color: var(--color-blue);
  cursor: pointer;
}

.signup-link:hover {
  color: var(--color-purple);
}

.signup-link:active {
  transform: translateY(2px);
}
